.signin {
    margin-top: 34px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.register {
    width: calc((187/360)*100%);
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 0.15px;
    color: #0D0D0D;
}

.create {
    margin-left: 13px;
    width: calc((70 /360)*100%);
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 0.25px;
    color: #696CFF;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0;
}