.account {
    width: calc((260/360)*100%);
    margin-top: 200px;
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.15px;
    color: #0D0D0D;
}